@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body.iindex  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/images/main.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}
